<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.answer.mapper.MultipleChoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lw.answer.entity.MultipleChoice">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="title" property="title" />
        <result column="category_id" property="categoryId" />
        <result column="option" property="option" />
        <result column="result" property="result" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, title, category_id, option, result
    </sql>

</mapper>
